// screen sizes
$desktop: 1280px;
$desktop-sm: 1024px;
$tablet: 768px;
$tablet-sm: 640px;
$mobile: 480px;
$mobile-sm: 320px;

// colors
$main-color: #6495ed;
$link-color: steelblue;
$link-visited: blueviolet;
$text-color: midnightblue;
$white-text-color: whitesmoke;

// z-index
$z-normal: 5;
$z-menu: 20;
$z-lock: 15;
