.card {
  position: relative;
}

.card__img {
  max-width: 100%;
  height: auto;
}

.card__tech {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;

}

.card__item {
  margin-right: 16px;

  &::before {
    content: '#';
  }
}

.card__title {
  display: block;
  position: absolute;
  z-index: 2;
  //height: 100%;
  //width: 100%;
  top: 40px;
  //margin: 0 auto;
}
