.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: $desktop-sm) {
  .container {
    padding: 0 60px;
  }
}
