.education__description {
  margin-top: 5px;
}

.education {
  .job__title {
    font-size: 18px;
    text-decoration: underline;
  }
  .job__name {
    //font-size: 17px;
  }
}

.education__description {
  text-indent: 16px;
  line-height: 1.2;
  //font-size: 16px;
  margin-bottom: 40px;
}
