.education__description {
  margin-top: 5px;
}

.education {
  .job__title {
    text-decoration: underline;
  }
}

.education__description {
  text-indent: 16px;
  line-height: 1.2;
  margin-bottom: 40px;
}
