.main-nav {
  &--shown .main-nav__list {
    visibility: visible;
    height: auto;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 16px;
  right: 16px;

  height: 35px;
  width: 40px;

  padding: 0;
  margin: 0;

  overflow: hidden;

  cursor: pointer;
  border: none;
  background-color: transparent;
  filter: drop-shadow(3px 0 0 $text-color);

  &:before,
  &:after,
  span {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: $white-text-color;
    transform-origin: center;
    transition: all 150ms ease-in-out;
  }

  &[aria-expanded="false"] {
    &:before {
      transform: translateY(-7px);
    }

    &:after {
      transform: translateY(7px);
    }
  }

  &[aria-expanded="true"] {
    span {
      transform: translateX(40px);
    }

    &:before {
      transform: rotate(-45deg) translateY(6px);
    }

    &:after {
      transform: rotate(45deg) translateY(-6px);
    }
  }

  @include scale-hover;
}

.main-nav__list {
  visibility: hidden;
  height: 0;

  @include reset-list;
  text-align: center;

  .main-nav__item:last-of-type {
    padding-bottom: 20px;
  }

  .main-nav__link {
    position: relative;
    display: inline-block;

    min-height: 55px;
    padding: 0 10px;

    font-size: 22px;
    letter-spacing: 0.015em;
    text-decoration: none;
    color: $white-text-color;

    text-align: center;
    line-height: 50px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;

      height: 2px;
      background-color: $text-color;
    }

    &::after {
      left: initial;
      right: 0;
      bottom: 2px;

      height: 2px;
      background-color: $white-text-color;
    }

    &:hover,
    &:focus-visible {
      transform: scale(1.25);
      outline: none;

      &::after,
      &::before {
        animation-name: swimming;
        animation-duration: 2000ms;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-direction: alternate-reverse;
        animation-timing-function: linear;
        animation-delay: 500ms;
      }

      &::after {
        animation-direction: alternate;
      }
    }

    transition: transform 100ms ease-out;
  }
}

.no-js .main-nav__list {
  visibility: visible;
  height: auto;
}
