.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid $white-text-color;

  filter: saturate(1.4) brightness(1.2);
}

.photo__wrapper {
  width: 200px;
  height: 200px;

  margin-top: auto;
  margin-bottom: 24px;
  flex-shrink: 0;

  @media (min-width: $tablet) {
    width: 280px;
    height: 280px;
  }

  @media (min-width: $desktop-sm) {
    width: 340px;
    height: 340px;
  }
}
