.progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: none;
  color: $text-color;

  width: 100%;
  height: 10px;
}

.progress.no-js {
  display: none;
}

.progress[value="0"] {
  display: none;
}

.progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.progress::-webkit-progress-value {
  background-image:
    -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0,0, 0, 0.1) 66%, transparent 66%),
    -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, $main-color, #ffaa00);

  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.progress::-moz-progress-bar {
  background-image:
    -moz-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
    -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -moz-linear-gradient(left, $main-color, #ffaa00);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
