.works__list {
  @include reset-list;

  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  grid-auto-flow: dense;
  justify-content: space-evenly;
  gap: 40px;
}

.works__item {
  max-height: 400px;
}

.works__item--double {
  grid-column: 1 / -1;
}
