*, *::before, *::after {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html, body {
  font-family: "Jura", "Trebuchet MS", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font-weight: 500;

  &:link {
    color: $link-color;
  }

  &:visited {
    color: $link-visited;
  }
}

/* --- visibility ---*/
[data-animation-state] {
  transition: transform, opacity 500ms, 700ms ease-in-out;
}

[data-animation-state="hidden"] {
  opacity: 0;
  transform: translateY(150px);
}

[data-animation-state="shown"] {
  opacity: 1;
  transform: translateY(0);
}

.no-js[data-animation-state="hidden"] {
  opacity: 1;
  transform: translateY(0);
}
